*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
}

.container{
    margin: 0rem;
}

.nav{
    background-color: rgb(252, 251, 251);
    color: #ff9019;
    background-color: rgb(234, 190, 127);
    color: white;
    display: flex;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    height: 4rem;
    gap: 2rem;
    padding: 0 2rem;
}

.nav a{
    color: inherit; 
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.site-title{
    font-size: 2rem;
    font-weight: bold;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
}

.nav li.active{
    width: auto;
    height: 36px;
    padding: 0px 10px 0px 10px;
    background: white;
    color: #ffa834;
    border-color: #ffa834;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
}

.nav li:hover{
    width: auto;
    height: 36px;
    padding: 0px 10px 0px 10px;
    background: #ffa834;
    color: white;
    border-color: #ffa834;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
}

/* Search bar stuff */
.search-wrapper{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 300px;
    padding-top: 10px;
    border-radius: 20px;
    background-color:white ;
    box-shadow: 5px 3px 5px rgb(185, 185, 185);
    padding: 10px 20px;

}
.searchIcon{
    font-size: 25px;
    margin-top: 10px;
    margin-right: -20px;
}

.search-wrapper  input{
    border:none;
}

/*card stuff*/
.input{
    font-size: 4rem;
    width: 100%;
    
}

.class-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card{
    border: 1px solid black;
    background-color: pink;
    padding: .5rem;
}

.card > .header{
    margin-bottom: .25 rem;
}
.card > .body{
    font-size: .8rem;
    color: bisque;
}

.hide{
    display: none;
}

/*Text Stuff for homepage */
.home-letter{
    color: #ff9019;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 80px;
    word-spacing: -2px;
}
.home-letter2{
    color: #929292;
    font-size: 18px;
    margin-top: -10px;
    word-spacing: 0px;
}

/* login page stuff*/
.full-screen-container{
    background-color: #ffdfbb;
    height: 100vh;
    width:100vw;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.login-title{
    margin:0;
    color: #444444;
    text-align: center;
    font-size: 3.0rem;
    font-weight: bold;

}

.login-container{
    background-color:white ;
    box-shadow: 0 0 15px rgb(156, 113, 55);
    padding: 120px 100px;
    width:80%;
    max-width:600px;
    border-radius: 20px;
}

.signup-blurb{
    color: #999999;
    text-align: center;
    font-weight: bold;
}

.form{
    display: flex;
    flex-direction: column;
    /* color: grey; */ 
    gap:20px;
    margin-top:40px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap:7px;
}

.input-group input{
    font-size: 1.25rem;
    padding: .5rem;
    background-color: rgba(217, 206, 206, 0.352); /*background color of imput boxes*/
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: lighter;
    color: rgb(55, 53, 53);
}

.input-group.success input{
    box-shadow:0 0 0 3px rgba(9, 140, 48, 0.25);
}
.input-group.error input{
    box-shadow:0 0 0 3px rgba(255, 0, 0, 0.25);
}
.input-group input:focus{
    box-shadow: 0 0 0 3px rgba(55, 53, 53, 0.086);
}
.input-group .msg{
    display: none;
    font-size: .75rem;
}
.input-group.success .msg, .input-group.error .msg{
    display: block;
}
.input-group.error .msg{
    color: rgba(255, 0, 0, 0.5);
}
.input-group.success .msg{
    color: rgba(0, 128, 0, 0.5);
}

.login-button{
    padding:  .5rem 1em;
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    background-color: rgb(144, 225, 252);
    box-shadow: 0 0 0 3px rgba(14, 102, 131, 0.347);
    border:none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.login-button:hover, .login-button:focus{
    background-color: rgba(108, 202, 233, 0.39);
    
}

/* Dashboard page */
.dash-full-screen-container{
    background-color: #ffdfbb;
    height: 100vh;
    width:auto;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: left;
}
.dashboard-container{
    box-sizing: border-box;
    background-color:rgb(202, 230, 239);
    box-shadow: 0 0 15px rgb(156, 113, 55);
    height: 90vh;
    
    padding-right: 0px;
    width:90%;
    max-width:inherit;
    border-radius: 20px;
    margin-top:40px;
    justify-content:start;
    position: relative;

}
.side-bar-form{
    background-color: rgb(230, 173, 182);
    height:100%;
    width: 20%;
    display: inline-block;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: left;
    margin:0;
    border-radius: 20px;
}
.dashboard-title{
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:underline;
}
.dash-button{
    
    border: none;
    width: 80%;
    display: block;
    height: 50px;
    padding:  2px 2px;
    font-size: 30px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 240, 240, 0.924);
    box-shadow: 0 0 0 3px rgba(14, 102, 131, 0.347);
   
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10;
    text-align: center;
    text-justify: center;
}

.dash-button button{
    border:none;
    background-color: rgba(79, 21, 129, 0.175);
    
    margin: 5px;
    text-align: center;
    padding: 5px;
}
.dash-button:hover {
    background-color: #962d8f; /* Green */
    color: white;
  }
.dash-profile-card{
    background-color: lightblue;
    height: 50px;
    margin: 10px;
    text-align: right;
    align-items: center;
    font-size: 5px;
}
/*dash class cards */
.card-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap:1rem;
    align-items: flex-start;
    position: absolute;
    top:10px;
    bottom: 10px;
    left: 22%;
    right: 10px;
    
    height: 90%;
    width: 70%;
}
.dash-class-cards {
    background: grey;
    padding:1rem;
    border:none;
    box-shadow: 0 02px 5px 0 rgba(0, 0, 0, 0.225);
    border-radius: .25rem;
    
    max-width: 200px;
    overflow: hidden;
}

.dash-class-card-header{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.dash-class-card-header.card-image{
    overflow: hidden;
}
.dash-class-card-header.card-image >img{
    display: block;
    width: 100%;
    max-height: 150px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}
/*  zoom in affect when hover over cards */
.dash-class-cards:hover > .dash-class-card-header.card-image >img{
    transform: scale(1.5);
}
.dash-class-card-body{
    font-size: .9rem;
}
.dashboard-container ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    
}