
/*bruno */
*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
}

.container{
    margin: 1rem;
}

.nav{
    background-color: rgb(252, 251, 251);
    color: #ff9019;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    height: 4rem;
    overflow: visible;
}

.nav a{
    color: inherit; 
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.site-title{
    font-size: 2rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
}

.nav li.active{
    width: auto;
    height: 36px;
    padding: 0px 10px 0px 10px;
    background: white;
    color: #ffa834;
    border-color: #ffa834;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
}

.nav li:hover{
    width: auto;
    height: 36px;
    padding: 0px 10px 0px 10px;
    background: #ffa834;
    color: white;
    border-color: #ffa834;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
}



/*Card Stuff*/
.class-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card{
    border: 1px solid black;
    background-color: pink;
    padding: .5rem;
}

.card > .header{
    margin-bottom: .25 rem;
}
.card > .body{
    font-size: .8rem;
    color: bisque;
}

.hide{
    display: none;
}

/*Text Stuff*/
.home-letter{
    color: #ff9019;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 80px;
    word-spacing: -2px;
}

.home-letter2{
    color: #929292;
    font-size: 18px;
    margin-top: -10px;
    word-spacing: 0px;
}


/* login page stuff*/
.full-screen-container{
    background-color: #ffdfbb;
    height: 100vh;
    width:auto;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.login-title{
    margin:0;
    color: #444444;
    text-align: center;
    font-size: 3.0rem;
    font-weight: bold;
}

.login-container{
    background-color:white ;
    box-shadow: 0 0 15px rgb(156, 113, 55);
    padding: 120px 100px;
    width:80%;
    max-width:600px;
    border-radius: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    /* color: grey; */ 
    gap:20px;
    margin-top:40px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap:7px;
}

.input-group input{
    font-size: 1.25rem;
    padding: .5rem;
    background-color: rgba(217, 206, 206, 0.352); /*background color of imput boxes*/
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: lighter;
    color: rgb(55, 53, 53);
}

.input-group.success input{
    box-shadow:0 0 0 3px rgba(9, 140, 48, 0.25);
}
.input-group.error input{
    box-shadow:0 0 0 3px rgba(255, 0, 0, 0.25);
}
.input-group input:focus{
    box-shadow: 0 0 0 3px rgba(55, 53, 53, 0.086);
}
.input-group .msg{
    display: none;
    font-size: .75rem;
}
.input-group.success .msg, .input-group.error .msg{
    display: block;
}
.input-group.error .msg{
    color: rgba(255, 0, 0, 0.5);
}
.input-group.success .msg{
    color: rgba(0, 128, 0, 0.5);
}

.login-button{
    padding:  .5rem 1em;
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    background-color: rgb(144, 225, 252);
    box-shadow: 0 0 0 3px rgba(14, 102, 131, 0.347);
    border:none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.login-button:hover, .login-button:focus{
    background-color: rgba(108, 202, 233, 0.39);
    
}

.signup-blurb{
    color: #999999;
    text-align: center;
    font-weight: bold;
}



/* Dashboard page */
.dash-full-screen-container{
    background-color: #ffdfbb;
    height: 100vh;
    width:auto;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: left;
}
.dashboard-container{
    box-sizing: border-box;
    background-color:rgba(197, 242, 255, 0.856);
    box-shadow: 7px 7px 10px rgba(156, 112, 55, 0.658);
    height: 90vh;
    
    padding-right: 0px;
    width:90%;
    max-width:inherit;
    border-radius: 6px 6px 6px 6px;
    margin-top:40px;
    justify-content:start;
    position: relative;

}
.side-bar-form{
    background-color: rgb(145, 228, 251);
    height:100%;
    width: 20%;
    display: inline-block;
    justify-content: center;
    align-items: left;
    margin:0;
    border-radius: 6px 20px 20px 6px;
    padding: 25px;
}
.dashboard-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.dash-button{
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: block;
    background-color: rgba(240, 240, 240, 0.924);
    margin-top: 40px;
}
.dash-button button{
    border: none;
    width: 100%;
    display: block;
    height: 50px;
    padding:  2px 2px;
    font-weight: normal;
    box-shadow: 0 0 0 3px rgb(24, 148, 189);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.dash-button button:hover {
    background-color: rgb(25, 146, 187);
    color: white;
  }

.dash-profile-card{
    background-color: #e6f9ff;
    box-shadow: 7px 7px 7px rgba(59, 141, 167, 0.637);
    width: 100%;
    height: 91px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 3px 3px 3px;
    overflow: hidden;
}
.dash-name{
    font-size: 25px;
}
/*dash class cards */
.card-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,250px));
    gap:.75rem;
    align-items: flex-start;
    position: absolute;
    top:50px;
    bottom: 10px;
    left: 23%;
    right: 10px;
    height: 90%;
    overflow:auto;
    width: 75%;
}
.saved-materials-container{
    box-sizing: border-box;
    background-color:rgb(230, 249, 255);
    box-shadow: 7px 7px 10px rgba(156, 112, 55, 0.658);
    height: 90vh;
    
    padding-right: 0px;
    width:90%;
    max-width:inherit;
    border-radius: 6px 6px 6px 6px;
    margin-top:40px;
    justify-content:start;
    position: relative;
}
.materials-card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 250px));
    gap: .75rem;
    align-items: flex-start;
    position: absolute;
    left: 20px;
    top:10px;
    bottom: 10px;
    justify-content: center;
   
    right: 20px;
    height: 95%;
    overflow:auto;
    width: 100%;
}
.dash-class-cards {
    background: rgb(255, 255, 255);
    padding:1rem;
    border:none;
    box-shadow: 7px 7px 7px rgba(153, 195, 207, 0.856);
    border-radius: .25rem;
    
    height: 300px;
    width: 250px;
    
}
.dash-class-card-header{
    font-size: 1.7rem;
    margin-bottom: .5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.dash-class-card-header.card-image{
    overflow: hidden;
}
.dash-class-card-header.card-image >img{
    display: block;
    width: 100%;
    max-height: 150px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: start;
    transition: 200ms transform ease-in-out;
}
/*  zoom in affect when hover over cards */
.dash-class-cards:hover > .dash-class-card-header.card-image >img{
    transform: scale(1.5);
}
.dash-class-card-body{
    font-size: 1.3rem;
    color:#747474;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dashboard-container ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    
}




/* Classroom page */
.classroom-full-screen-container{
    background-color: #ffdfbb;
    height:auto;
    width:auto;
    display: grid;
    justify-items: center;
    align-content:start;
    padding-bottom: 30px;
}
.class-title-bar{
    background-color:white ;
    box-shadow: 7px 7px 10px rgba(156, 112, 55, 0.658);
    padding: 10px 10px;
    width: 350px;
    height: auto;
    border-radius: 20px;
    margin-top:30px;
}
.class-title{
    margin:0;
    color: #444444;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.note-name{
    margin:0;
    margin-left: 15px;
    color: black;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
}
.note-description{
    margin-top:5px;
    margin-left: 15px;
    color: black;
    text-align: left;
    font-size: 1rem;
}
/*Upload Notes Box*/
.upload-notes-container{
    box-sizing: border-box;
    background-color:white;
    box-shadow: 7px 7px 10px rgba(156, 112, 55, 0.658);
    height: 400px;
    padding: 20px;
    width:80%;
    max-width:inherit;
    border-radius: 6px;
    margin-top:30px;
    justify-content:start;
    display: -ms-grid;
}
.clear-button{
    height: 40px;
    width: 40px;
    margin: 0;
    margin-left: -70px;
    color: black;
    background-color: rgb(0, 0, 0);
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 30px;
    border: none;
}
.choose-file{
    background-color: black;
    color: blue;
    /*display: none;   hide choose button*/
}
.upload-doc-container{
    background-color:rgba(197, 242, 255, 0.856);
    height: 250px;
    padding: 20px;
    width: 100%;
    max-width:inherit;
    border-radius: 6px;
    margin-top: 55px;
    justify-content:center;
    align-items: center;
    display: flex;
}
.uploadFileIcon{
    font-size: 75px;
    /*color:#ff9019; orange*/
    color:#444444; /*black*/
}
/*Kumar's Notes Stuff (2nd box)*/
.classroom-container{
    box-sizing: border-box;
    background-color:white;
    box-shadow: 7px 7px 10px rgba(156, 112, 55, 0.658);
    height: 580px;
    padding: 20px;
    width:80%;
    max-width:inherit;
    border-radius: 6px;
    margin-top:30px;
    justify-content:start;
    display: -ms-grid;
}
.class-notes-container{
    background-color:rgba(197, 242, 255, 0.856);
    height: 375px;
    padding: 15px;
    width: 100%;
    max-width:inherit;
    border-radius: 6px;
    margin-top: 55px;
    justify-content:center;
    align-items: center;
    display: flex;
}
.arrowUp{
    font-size: 30px;
    margin-top: 27px;
    margin-left: 90px;
}
.arrowDown{
    font-size: 30px;
    margin-left: 90px;
}
.comment-button{
    margin: 0;
    margin-left: 300px;
    color: black;
    text-align: left;
    font-size: 1.25rem;
    margin-top: -30px;
    font-weight: bold;
}
/*Comment Section Stuff*/
.discussion-box-container{
    display: grid;
    box-sizing: border-box;
    background-color:whitesmoke;
    box-shadow: 7px 7px 10px rgba(156, 112, 55, 0.658);
    height: 600px;
    padding: 20px;
    width:80%;
    max-width:inherit;
    border-radius: 6px;
    margin-top:30px;
    justify-content:center;
    display: -ms-grid;
}
.discussion-box{
    background-color: red;
    display: flex;
    height: 400px;
    width: 1100px;
    padding: 20px;
    justify-content: center;
    align-items: end;
}
.comment-box{
    background-color: green;
    height: 100px;
    width: 95%;
    padding: 10px;
}
.comments-font{
    font-size: 10px;
}
.division-line{
    background-color:#999999;
    width:100%;
    height: 1px;
}
.typing-comment-box{
    background-color: blue;
    height: 70px;
    width: 100%;
}



/* My Notes Page */
.notes-full-screen-container{
    background-color: #ffdfbb;
    height: 100vh;
    width:auto;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding-bottom: 30px;
}
.upload-box{
    background-color:rgba(197, 242, 255, 0.856);    height:15%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    border-style: solid;
    border: white;
    border-width: thick;
    border-radius: 6px;

}
.upload-box h1{
    text-align:center;
    font-size: small;
}
.past-upload-box{
    background-color: rgb(255, 255, 255);
    height:90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: left;
    margin:0px;
    border-radius: 6px;
    padding:10px;
}
.header{
    font-size: medium;
}
.body{
    font-size: x-small;
}
.doc-carousel{
    background-color:rgba(197, 242, 255, 0.856);
    height:90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-style: solid;
    border: white;
    border-width: thick;
    border-radius: 6px;
}




/*profile page */
.profile-full-screen-container{
    background-color: #ffdfbb;
    height: 100vh;
    width:auto;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    align-items: start;
    justify-content: center;
    padding-top:30px;
}
.profile-pic-square{
    background: 
      url(./pages/images/classroom.png);
    width: 200px;
    height: 450px;
    background-size:cover;
    display: flex;
    margin: 30px;
    border-radius: 6px;
}
  
.user-card{
    background-color: rgb(255, 255, 255);
    width: 20%;
    width: 250px;
    height: 350px;
    margin: 20px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 7px 7px 10px rgba(156, 112, 55, 0.658);
}
.profile-folder{
    background-color: rgba(197, 242, 255, 0.856);
    width: 60%;
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 7px 7px 10px rgba(156, 112, 55, 0.658);
}
.eyeIcon{
    font-size: 20px;
    margin-left: 10px;
}
.eyeSlashIcon{
    font-size: 20px;
}
.user-name{
    margin-top: -20px;
    font-size: 24px;
    font-weight: bold;
}
.user-type{
    margin-top: -20px;
}
.rating-font{
    margin-top: 0px;
}
.about-title{
    margin-top: -40px;
}
.personal-info-box{
    display: grid;
    margin-top: -10px;
    height: 170px;
    padding-bottom: 20px;
    width: 240px;
    justify-content:center;
}



/*Search Page Stuff*/
.SearchPage-full-screen-container{
    background-color: #ffdfbb;
    height: 100vh;
    width:auto;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: top;
}
.search-bar-box{
    margin-top: 10%;
}
/*Search Bar*/
.search-wrapper{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 450px;
    padding-top: 10px;
    border-radius: 20px;
    background-color:white ;
    box-shadow: 5px 3px 5px rgb(185, 185, 185);
    padding: 10px 20px;
}
.search-wrapper input{
    border: none;
    width: 85%;
}
.searchIcon{
    font-size: 25px;
    margin-top: 10px;
    margin-right: -20px;
    
}
.input{
    font-size: 4rem;
    width: 100%;
}
.dataResult{
    position: relative;
    z-index: 1;
    margin-top: 5px;
    width: 100%;
    height: 300px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    border: none;
}
.dataResult .dataItem{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    background-color: white;
}
.dataResult :hover{
    background-color: orange;
    color: white;
}
input:focus{
    outline:none;
}